* {
	box-sizing: border-box;
}
.square-1 {
	border: 1px solid green;
	padding: 5px;
	margin: 75px;
	background-color: aqua;
	width: 200px;
	height: 200px;
}
.square-2 {
	border: 1px solid green;
	padding: 5px;
	margin: 15px;
	background-color: aqua;
	width: 160px;
	height: 160px;
}
.square-3 {
	border: 1px solid green;
	padding: 5px;
	margin: 15px;
	background-color: aqua;
	width: 120px;
	height: 120px;
}
.square-4 {
	border: 1px solid green;
	padding: 5px;
	margin: 15px;
	background-color: aqua;
	width: 80px;
	height: 80px;
}
.square-5 {
	border: 1px solid green;
	padding: 5px;
	margin: 15px;
	background-color: aqua;
	width: 40px;
	height: 40px;
}
