* {
	box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 40px;
	font-size: 16px;
}
.article-image {
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	width: 172px;
	background-color: bisque;
}
.article-image img{
	height: 200px;
}
.article-image p{
	text-align: center;
	font-size: .8rem;
	margin: 0;
}
.article-2 h2{
	margin-bottom: 15px;
}
#page{
	display: grid;
	grid-template-areas: 
	"header header header"
	"nav nav nav"
	"article-one article-two article-three"
	"article-four article-four article-five";
}


.page-header h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
	margin-top: 40px;
}
.links{
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 2px solid black;
	padding: 20px;
	margin: 0px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 1.5rem;
}
.links li {
	color: rgb(123, 122, 122);
	font-weight: bolder;
}
.links a {
	text-decoration: none;
}
.links a:hover {
	text-decoration: underline;
	color: rgb(129, 126, 126);
	text-decoration-thickness: 3px;
}


article{
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	padding: 10px;

}
article h2 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	font-size: 1.7rem;
	margin: 0px;
	
	
}
article p {
	text-align: justify;
	
}
.page-header{
	grid-area: header;
}
.links{
	grid-area: nav;
}
.article-1 {
	grid-area: article-one;
}
.article-2 {
	grid-area: article-two;
}
.article-3 {
	grid-area: article-three;
	border-right: 2px solid black;
}
.article-4 {
	grid-area: article-four;
}
.article-5 {
	grid-area: article-five;
	border-right: 2px solid black;
}










/*#container {
	display: grid;
	grid-template-areas:
		"article-one article-two article-two article-three"
		"article-four article-four  . aritcle-five ";
	margin-top: 0px;
	border: 2px solid black;
	border-top: none;
}
