*{
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 40px;
}

#puppy {
	height: 200px;
}
#puppy img {
	height: 100%;
}
h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight:500;
    font-size: 60px;
    margin-top: 40px;
}
#links ul{
    list-style-type: none;
    display: inline-flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 0px;
}
#container {
    display: grid;
    border: 2px solid black;

    
}
